.c3 svg {
  font-family: et-bembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }
  .c3 svg .highlight-line {
    stroke-width: 3; }

.c3-chart-line path {
  stroke-width: 2;
  stroke-linecap: round; }

.c3-target-chart-short-dash path {
  stroke-dasharray: 5, 5; }

.c3-target-chart-long-dash path {
  stroke-dasharray: 15, 15; }
